server:
  port: 8083

spring:
  application:
    name: admin-service
  data:
    redis:
      host: ${REDIS_HOST:redis}
      port: ${REDIS_PORT:6379}
      timeout: ${REDIS_TIMEOUT:2s}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://discovery-server:8761/eureka/}

internal:
  auth:
    shared-secret: ${INTERNAL_AUTH_SHARED_SECRET:}

logging:
  pattern:
    level: "%5p [${spring.application.name},traceId=%X{traceId},spanId=%X{spanId}]"

cache:
  admin-orders-ttl: ${CACHE_ADMIN_ORDERS_TTL:30s}
