server:
  port: 8083

spring:
  application:
    name: admin-service

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://discovery-server:8761/eureka/}

internal:
  auth:
    shared-secret: ${INTERNAL_AUTH_SHARED_SECRET:}

logging:
  pattern:
    level: "%5p [${spring.application.name},traceId=%X{traceId},spanId=%X{spanId}]"
