env/common.env
env/customer-service.env
env/order-service.env
env/product-service.env
env/cart-service.env
env/wishlist-service.env
env/vendor-service.env
env/eureka.env
env/access-service.env
env/poster-service.env
env/frontend.env
env/admin-service.env
env/promotion-service.env

.idea
.vscode
