services:
  redis:
    image: redis:7-alpine

  discovery-server:
    build:
      context: ./Services/discovery-server
    ports:
      - "8761:8761"
    env_file:
      - ./env/common.env
      - ./env/eureka.env

  customer-service:
    build:
      context: ./Services/customer-service
    depends_on:
      - discovery-server
      - redis
    env_file:
      - ./env/common.env
      - ./env/customer-service.env

  order-service:
    build:
      context: ./Services/order-service
    depends_on:
      - discovery-server
      - redis
    env_file:
      - ./env/common.env
      - ./env/order-service.env

  product-service:
    build:
      context: ./Services/product-service
    depends_on:
      - discovery-server
      - redis
    env_file:
      - ./env/common.env
      - ./env/product-service.env

  admin-service:
    build:
      context: ./Services/admin-service
    depends_on:
      - discovery-server
    env_file:
      - ./env/common.env

  api-gateway:
    build:
      context: ./Services/api-gateway
    depends_on:
      - discovery-server
      - redis
    ports:
      - "8095:8080"
    env_file:
      - ./env/common.env

  microservice-frontend:
    build:
      context: .
      dockerfile: microservce-frontend/Dockerfile
    depends_on:
      - api-gateway
    ports:
      - "8086:3000"
    env_file:
      - ./env/frontend.env
