version: "3.9"

services:
  redis:
    image: redis:7-alpine
    ports:
      - "6479:6379"

  discovery-server:
    build:
      context: ./Services/discovery-server
    ports:
      - "8761:8761"
    env_file:
      - ./env/common.env
      - ./env/eureka.env

  customer-db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: customer_db
      POSTGRES_USER: customer_user
      POSTGRES_PASSWORD: customer_pass
    ports:
      - "5433:5432"
    volumes:
      - customer-db-data:/var/lib/postgresql/data

  order-db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: order_db
      POSTGRES_USER: order_user
      POSTGRES_PASSWORD: order_pass
    ports:
      - "5434:5432"
    volumes:
      - order-db-data:/var/lib/postgresql/data

  customer-service:
    build:
      context: ./Services/customer-service
    depends_on:
      - discovery-server
      - customer-db
    ports:
      - "8081:8081"
    env_file:
      - ./env/common.env
      - ./env/customer-service.env

  order-service:
    build:
      context: ./Services/order-service
    depends_on:
      - discovery-server
      - order-db
    ports:
      - "8082:8082"
    env_file:
      - ./env/common.env
      - ./env/order-service.env

  api-gateway:
    build:
      context: ./Services/api-gateway
    depends_on:
      - discovery-server
      - redis
    ports:
      - "8080:8080"
    env_file:
      - ./env/common.env

  microservice-frontend:
    build:
      context: .
      dockerfile: microservce-frontend/Dockerfile
    depends_on:
      - api-gateway
    ports:
      - "8086:3000"
    env_file:
      - ./env/frontend.env

volumes:
  customer-db-data:
  order-db-data:
