services:
  redis:
    image: redis:7-alpine
    environment:
      TZ: Asia/Colombo
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  discovery-server:
    build:
      context: ./Services/discovery-server
    ports:
      - "8761:8761"
    env_file:
      - ./env/common.env
      - ./env/eureka.env
    environment:
      TZ: Asia/Colombo
      LOGGING_FILE_NAME: /logs/discovery-server.log
    volumes:
      - /home/ubuntu/microservice-logs:/logs
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  customer-service:
    build:
      context: ./Services/customer-service
    depends_on:
      - discovery-server
      - redis
    env_file:
      - ./env/common.env
      - ./env/customer-service.env
    environment:
      TZ: Asia/Colombo
      LOGGING_FILE_NAME: /logs/customer-service.log
    volumes:
      - /home/ubuntu/microservice-logs:/logs
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  order-service:
    build:
      context: ./Services/order-service
    depends_on:
      - discovery-server
      - promotion-service
      - redis
    env_file:
      - ./env/common.env
      - ./env/order-service.env
    environment:
      TZ: Asia/Colombo
      LOGGING_FILE_NAME: /logs/order-service.log
    volumes:
      - /home/ubuntu/microservice-logs:/logs
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  cart-service:
    build:
      context: ./Services/cart-service
    depends_on:
      - discovery-server
      - promotion-service
      - redis
    env_file:
      - ./env/common.env
      - ./env/cart-service.env
    environment:
      TZ: Asia/Colombo
      LOGGING_FILE_NAME: /logs/cart-service.log
    volumes:
      - /home/ubuntu/microservice-logs:/logs
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  wishlist-service:
    build:
      context: ./Services/wishlist-service
    depends_on:
      - discovery-server
      - redis
    env_file:
      - ./env/common.env
      - ./env/wishlist-service.env
    environment:
      TZ: Asia/Colombo
      LOGGING_FILE_NAME: /logs/wishlist-service.log
    volumes:
      - /home/ubuntu/microservice-logs:/logs
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  product-service:
    build:
      context: ./Services/product-service
    depends_on:
      - discovery-server
      - redis
    env_file:
      - ./env/common.env
      - ./env/product-service.env
    environment:
      TZ: Asia/Colombo
      LOGGING_FILE_NAME: /logs/product-service.log
    volumes:
      - /home/ubuntu/microservice-logs:/logs
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  poster-service:
    build:
      context: ./Services/poster-service
    depends_on:
      - discovery-server
      - redis
    env_file:
      - ./env/common.env
      - ./env/poster-service.env
    environment:
      TZ: Asia/Colombo
      LOGGING_FILE_NAME: /logs/poster-service.log
    volumes:
      - /home/ubuntu/microservice-logs:/logs
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  vendor-service:
    build:
      context: ./Services/vendor-service
    depends_on:
      - discovery-server
      - redis
    env_file:
      - ./env/common.env
      - ./env/vendor-service.env
    environment:
      TZ: Asia/Colombo
      LOGGING_FILE_NAME: /logs/vendor-service.log
    volumes:
      - /home/ubuntu/microservice-logs:/logs
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  access-service:
    build:
      context: ./Services/access-service
    depends_on:
      - discovery-server
      - redis
    env_file:
      - ./env/common.env
      - ./env/access-service.env
    environment:
      TZ: Asia/Colombo
      LOGGING_FILE_NAME: /logs/access-service.log
    volumes:
      - /home/ubuntu/microservice-logs:/logs
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  promotion-service:
    build:
      context: ./Services/promotion-service
    depends_on:
      - discovery-server
      - redis
      - access-service
      - vendor-service
    env_file:
      - ./env/common.env
      - ./env/promotion-service.env
    environment:
      TZ: Asia/Colombo
      LOGGING_FILE_NAME: /logs/promotion-service.log
    volumes:
      - /home/ubuntu/microservice-logs:/logs
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  review-service:
    build:
      context: ./Services/review-service
    depends_on:
      - discovery-server
      - redis
    env_file:
      - ./env/common.env
      - ./env/review-service.env
    environment:
      TZ: Asia/Colombo
      LOGGING_FILE_NAME: /logs/review-service.log
    volumes:
      - /home/ubuntu/microservice-logs:/logs
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  inventory-service:
    build:
      context: ./Services/inventory-service
    depends_on:
      - discovery-server
      - redis
    env_file:
      - ./env/common.env
      - ./env/inventory-service.env
    environment:
      TZ: Asia/Colombo
      LOGGING_FILE_NAME: /logs/inventory-service.log
    volumes:
      - /home/ubuntu/microservice-logs:/logs
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  admin-service:
    build:
      context: ./Services/admin-service
    depends_on:
      - discovery-server
      - access-service
    env_file:
      - ./env/common.env
      - ./env/admin-service.env
    environment:
      TZ: Asia/Colombo
      LOGGING_FILE_NAME: /logs/admin-service.log
    volumes:
      - /home/ubuntu/microservice-logs:/logs
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  analytics-service:
    build:
      context: ./Services/analytics-service
    depends_on:
      - discovery-server
      - redis
    env_file:
      - ./env/common.env
      - ./env/analytics-service.env
    environment:
      TZ: Asia/Colombo
      LOGGING_FILE_NAME: /logs/analytics-service.log
    volumes:
      - /home/ubuntu/microservice-logs:/logs
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  payment-service:
    build:
      context: ./Services/payment-service
    depends_on:
      - discovery-server
      - redis
    env_file:
      - ./env/common.env
      - ./env/payment-service.env
    environment:
      TZ: Asia/Colombo
      LOGGING_FILE_NAME: /logs/payment-service.log
    volumes:
      - /home/ubuntu/microservice-logs:/logs
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  api-gateway:
    build:
      context: ./Services/api-gateway
    depends_on:
      - discovery-server
      - redis
      - access-service
    ports:
      - "8095:8080"
    env_file:
      - ./env/common.env
    environment:
      TZ: Asia/Colombo
      LOGGING_FILE_NAME: /logs/api-gateway.log
    volumes:
      - /home/ubuntu/microservice-logs:/logs
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  microservice-frontend:
    build:
      context: .
      dockerfile: microservce-frontend/Dockerfile
    depends_on:
      - api-gateway
    ports:
      - "8086:3000"
    env_file:
      - ./env/frontend.env
    command: /bin/sh -c "mkdir -p /logs && node server.js 2>&1 | tee -a /logs/microservice-frontend.log"
    environment:
      TZ: Asia/Colombo
    volumes:
      - /home/ubuntu/microservice-logs:/logs
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
