services:
  discovery-server:
    build:
      context: ./Services/discovery-server
    ports:
      - "8761:8761"
    env_file:
      - ./env/common.env
      - ./env/eureka.env

  customer-service:
    build:
      context: ./Services/customer-service
    depends_on:
      - discovery-server
    ports:
      - "8091:8081"
    env_file:
      - ./env/common.env
      - ./env/customer-service.env

  order-service:
    build:
      context: ./Services/order-service
    depends_on:
      - discovery-server
    ports:
      - "8092:8082"
    env_file:
      - ./env/common.env
      - ./env/order-service.env

  api-gateway:
    build:
      context: ./Services/api-gateway
    depends_on:
      - discovery-server
    ports:
      - "8095:8080"
    env_file:
      - ./env/common.env

  microservice-frontend:
    build:
      context: ./microservce-frontend
    depends_on:
      - api-gateway
    ports:
      - "88616:3000"
    env_file:
      - ./env/frontend.env
