server:
  port: 8081

spring:
  application:
    name: customer-service

  datasource:
    url: ${CUSTOMER_DB_URL:jdbc:postgresql://customer-db:5432/customer_db}
    username: ${CUSTOMER_DB_USER:customer_user}
    password: ${CUSTOMER_DB_PASS:customer_pass}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://discovery-server:8761/eureka/}

auth0:
  domain: ${AUTH0_DOMAIN:rumalg001.us.auth0.com}
  mgmt:
    client-id: ${AUTH0_MGMT_CLIENT_ID:}
    client-secret: ${AUTH0_MGMT_CLIENT_SECRET:}
    audience: ${AUTH0_MGMT_AUDIENCE:https://rumalg001.us.auth0.com/api/v2/}
  connection: ${AUTH0_CONNECTION:Username-Password-Authentication}

logging:
  pattern:
    level: "%5p [${spring.application.name},traceId=%X{traceId},spanId=%X{spanId}]"
