server:
  port: 8081

spring:
  application:
    name: customer-service

  data:
    redis:
      host: ${REDIS_HOST:redis}
      port: ${REDIS_PORT:6379}
      timeout: ${REDIS_TIMEOUT:2s}

  datasource:
    url: ${CUSTOMER_DB_URL:jdbc:postgresql://customer-db:5432/customer_db}
    username: ${CUSTOMER_DB_USER:customer_user}
    password: ${CUSTOMER_DB_PASS:customer_pass}

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://discovery-server:8761/eureka/}

keycloak:
  issuer-uri: ${KEYCLOAK_ISSUER_URI:https://keycloak.rumalg.me/realms/rumal}
  realm: ${KEYCLOAK_REALM:rumal}
  admin:
    client-id: ${KEYCLOAK_ADMIN_CLIENT_ID}
    client-secret: ${KEYCLOAK_ADMIN_CLIENT_SECRET}

internal:
  auth:
    shared-secret: ${INTERNAL_AUTH_SHARED_SECRET:}

logging:
  pattern:
    level: "%5p [${spring.application.name},traceId=%X{traceId},spanId=%X{spanId}]"

cache:
  customer-by-keycloak-ttl: ${CACHE_CUSTOMER_BY_KEYCLOAK_TTL:120s}
