server:
  port: 8082

spring:
  application:
    name: order-service

  data:
    redis:
      host: ${REDIS_HOST:redis}
      port: ${REDIS_PORT:6379}
      timeout: ${REDIS_TIMEOUT:2s}

  datasource:
    url: ${ORDER_DB_URL:jdbc:postgresql://order-db:5432/order_db}
    username: ${ORDER_DB_USER:order_user}
    password: ${ORDER_DB_PASS:order_pass}

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://discovery-server:8761/eureka/}


logging:
  pattern:
    level: "%5p [${spring.application.name},traceId=%X{traceId},spanId=%X{spanId}]"


resilience4j:
  circuitbreaker:
    instances:
      customerService:
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 20
        minimumNumberOfCalls: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3

  retry:
    instances:
      customerService:
        maxAttempts: 3
        waitDuration: 300ms
        enableExponentialBackoff: true
        exponentialBackoffMultiplier: 2
        retryExceptions:
          - java.io.IOException
          - org.springframework.web.client.ResourceAccessException
          - org.springframework.web.client.HttpServerErrorException

order:
  aggregation:
    customerDetailsMode: GRACEFUL   # STRICT or GRACEFUL

internal:
  auth:
    shared-secret: ${INTERNAL_AUTH_SHARED_SECRET:}

cache:
  orders-by-auth0-ttl: ${CACHE_ORDERS_BY_AUTH0_TTL:60s}
  order-details-by-auth0-ttl: ${CACHE_ORDER_DETAILS_BY_AUTH0_TTL:60s}
