server:
  port: 8080

spring:
  application:
    name: api-gateway
  data:
    redis:
      host: ${REDIS_HOST:redis}
      port: ${REDIS_PORT:6379}
      timeout: ${REDIS_TIMEOUT:2s}

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${AUTH0_ISSUER_URI:https://rumalg001.us.auth0.com/}

  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            add-to-simple-url-handler-mapping: true
            cors-configurations:
              '[/**]':
                allowed-origin-patterns: ${CORS_ALLOWED_ORIGINS:https://microservicefrontend.rumalg.me}
                allowed-methods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - OPTIONS
                allowed-headers:
                  - "*"
                exposed-headers:
                  - Location
                max-age: 3600
                allow-credentials: false
          routes:
            - id: customer-register
              uri: lb://customer-service
              predicates:
                - Path=/customers/register,/customers/register-auth0
            - id: customer-me
              uri: lb://customer-service
              predicates:
                - Path=/customers/me
            - id: order-me
              uri: lb://order-service
              predicates:
                - Path=/orders/me,/orders/me/**
            - id: admin-orders
              uri: lb://admin-service
              predicates:
                - Path=/admin/orders,/admin/orders/**
            - id: admin-products
              uri: lb://product-service
              predicates:
                - Path=/admin/products,/admin/products/**
            - id: products-catalog
              uri: lb://product-service
              predicates:
                - Path=/products,/products/**

          discovery:
            locator:
              enabled: ${GATEWAY_DISCOVERY_LOCATOR_ENABLED:false}
              lower-case-service-id: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://discovery-server:8761/eureka/}

auth0:
  domain: ${AUTH0_DOMAIN:rumalg001.us.auth0.com}
  audience: ${AUTH0_AUDIENCE:https://auth0.rumalg.me/}
  claims-namespace: ${AUTH0_CLAIMS_NAMESPACE:https://auth0.rumalg.me/claims/}
  mgmt:
    client-id: ${AUTH0_MGMT_CLIENT_ID:}
    client-secret: ${AUTH0_MGMT_CLIENT_SECRET:}
    audience: ${AUTH0_MGMT_AUDIENCE:https://rumalg001.us.auth0.com/api/v2/}

internal:
  auth:
    shared-secret: ${INTERNAL_AUTH_SHARED_SECRET:}


logging:
  pattern:
    level: "%5p [${spring.application.name},traceId=%X{traceId},spanId=%X{spanId}]"
