server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          # routes (NEW key)
          routes:
            - id: customer-service
              uri: lb://customer-service
              predicates:
                - Path=/customers/**
            - id: order-service
              uri: lb://order-service
              predicates:
                - Path=/orders/**

          # discovery locator (NEW key)
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://discovery-server:8761/eureka/}


logging:
  pattern:
    level: "%5p [${spring.application.name},traceId=%X{traceId},spanId=%X{spanId}]"
