server:
  port: 8080

spring:
  application:
    name: api-gateway
  data:
    redis:
      host: ${REDIS_HOST:redis}
      port: ${REDIS_PORT:6379}
      timeout: ${REDIS_TIMEOUT:2s}

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${AUTH0_ISSUER_URI:https://rumalg001.us.auth0.com/}

  cloud:
    gateway:
      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOriginPatterns: ${CORS_ALLOWED_ORIGINS:https://microservicefrontend.rumalg.me}
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
            exposedHeaders:
              - Location
            maxAge: 3600
            allowCredentials: false
      server:
        webflux:
          routes:
            - id: customer-register
              uri: lb://customer-service
              predicates:
                - Path=/customers/register,/customers/register-auth0
            - id: customer-me
              uri: lb://customer-service
              predicates:
                - Path=/customers/me
            - id: order-me
              uri: lb://order-service
              predicates:
                - Path=/orders/me,/orders/me/**

          discovery:
            locator:
              enabled: ${GATEWAY_DISCOVERY_LOCATOR_ENABLED:false}
              lower-case-service-id: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://discovery-server:8761/eureka/}

auth0:
  audience: ${AUTH0_AUDIENCE:https://auth0.rumalg.me/}
  claims-namespace: ${AUTH0_CLAIMS_NAMESPACE:https://auth0.rumalg.me/claims/}

internal:
  auth:
    shared-secret: ${INTERNAL_AUTH_SHARED_SECRET:}


logging:
  pattern:
    level: "%5p [${spring.application.name},traceId=%X{traceId},spanId=%X{spanId}]"
