server:
  port: 8080

spring:
  application:
    name: api-gateway

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${AUTH0_ISSUER_URI:https://rumalg001.us.auth0.com/}

  cloud:
    gateway:
      server:
        webflux:
          # routes (NEW key)
          routes:
            - id: customer-service
              uri: lb://customer-service
              predicates:
                - Path=/customers/**
            - id: order-service
              uri: lb://order-service
              predicates:
                - Path=/orders/**

          # discovery locator (NEW key)
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://discovery-server:8761/eureka/}

auth0:
  audience: ${AUTH0_AUDIENCE:https://auth0.rumalg.me/}


logging:
  pattern:
    level: "%5p [${spring.application.name},traceId=%X{traceId},spanId=%X{spanId}]"
