PRODUCT_DB_URL=jdbc:postgresql://product-db:5432/product_db
PRODUCT_DB_USER=product_user
PRODUCT_DB_PASS=product_pass
CACHE_CLEAR_ON_STARTUP=true
CACHE_KEY_PREFIX=ps:v2::
CACHE_PRODUCT_BY_ID_TTL=120s
CACHE_PRODUCT_LIST_TTL=45s
CACHE_PRODUCT_DELETED_LIST_TTL=30s
CACHE_CATEGORY_LIST_TTL=120s
CACHE_DELETED_CATEGORY_LIST_TTL=90s
SAMPLE_CATALOG_SEED_ENABLED=true
PRODUCT_IMAGE_MAX_FILE_SIZE=1MB
PRODUCT_IMAGE_MAX_REQUEST_SIZE=5MB
OBJECT_STORAGE_ENABLED=false
OBJECT_STORAGE_ENDPOINT=https://objectstorage.us-ashburn-1.oraclecloud.com
OBJECT_STORAGE_REGION=us-ashburn-1
OBJECT_STORAGE_ACCESS_KEY=
OBJECT_STORAGE_SECRET_KEY=
OBJECT_STORAGE_BUCKET=
INTERNAL_AUTH_SHARED_SECRET=change-this-secret
